// ------------------------- header ---------------------------------

.navbar_container {
  background-color: $color-2;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

// ---------------------- logo / h1 ---------------------------------

.logo {
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: $color-1;

    img {
      width: 80px;
      border-radius: 500px;
    }

    h1 {
      font-size: 1.8rem;
      font-family: $font-2;
      font-weight: 100;
      color: $color-1;
    }
  }
}

// --------------------------- nav ----------------------------------

.menu_container {
  display: flex;
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 40px;

      li {
        font-size: 1.2rem;

        a {
          color: $color-1;
        }
      }
    }
  }
}

//------------------------- MEDIA QUERIES -------------------------------

@media screen and (max-width: 1300px) {
  .navbar_container {
    gap: 30px;
  }
  .logo {
    a {
      img {
        width: 70px;
      }

      h1 {
        font-size: 1.6rem;
      }
    }
  }

  .menu_container {
    nav {
      ul {
        align-items: center;
        li {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .navbar_container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .logo {
      a {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }

    // --------------------------- nav ----------------------------------

    .menu_container {
      nav {
        ul {
          display: flex;
          gap: 40px;

          li {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .navbar_container {
      padding-bottom: 0;
    }
    .menu_container {
      nav {
        display: flex;
        flex-direction: column;
        ul {
          gap: 20px;
          flex-direction: column;
          margin: 15px 0;
          li {
            font-size: 1rem;
          }
        }
      }
    }
    .logo {
      a {
        img {
          width: 50px;
        }
        h1 {
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }
}

// ----------------------------------------- MENU BURGER ---------------------------------------------

#btn-burger-menu {
  display: none;
  background: none;
  border: none;
  outline: none;
}

#icone_close {
  color: $color-1;
  display: none;
}
#icone_burger {
  color: $color-1;
}

@media screen and (max-width: 768px) {
  #btn-burger-menu {
    display: block;
    font-size: 1.5rem;
  }

  .menu {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    max-height: 200px;
  }
}

@media screen and (min-width: 769px) {
  #btn-burger-menu {
    display: none;
  }
}
